body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbarNav{
    padding-left: 400px;
 }

#logo{
        padding-left: 20px;
        font-size: x-large;
        font-weight: bolder;
    }

button{
        border: none;
        background-color: #FFFFFF;
    }

footer{
        background-color: black;
        padding: 20px;
        text-align: center;
        color: white;
        width: 100%;
        bottom: 0;
    }

#titulo{
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center; 
}