@font-face {
    font-family: 'Segoe UI1';
    src: local('Segoe UI'), url('/public/assets/Segoe\ UI.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: 'Segoe UI1';
}
#navbarNav{
    padding-left: 400px;
 }

#logo{
        padding-left: 20px;
        font-size: x-large;
        font-weight: bolder;
    }

button{
        border: none;
        background: none;
    }

    .card-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #707070;
      }

footer{
        background-color: black;
        padding: 20px; 
        text-align: center;
        color: white;
        width: 100%;
        bottom: 0;
    }

#titulo{
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center; 
}

.card.small {
    grid-column: span 3;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    align-items: center;
  }